@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LandingPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Main Content-->
<main class="mb-4">

    <!-- Slider-View-->
    <div class="container px-4 px-lg-5">
        <div class="testimonials text-center bg-light">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.GetBlockListHtml(Model.MySlider)
                </div>
            </div>
        </div>
    </div>

    <!-- News-Teaser-View-->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <div id="app">
        <div class="container px-4 px-lg-5">
            <div class="testimonials text-center bg-primary">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-4 mb-5" v-for="news in newsItems">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3 class="card-title">{{news.ueberschrift}}</h3>
                                <img class="img-fluid mb-3" :src="news.teaserbildUrl">
                                <p class="card-text">{{news.teasertext}}</p>
                                <p class="card-text"><a class="nav-item" href="#!">Weitere Infos</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    newsItems: []
                }
            },
            created() {
                axios.get('api/newsteaser').then((response) => {
                    vm.newsItems = response.data;
                })
            }
        });
        let vm = app.mount('#app');
    </script>

</main>
